<div>
    <img style="max-width: 300px;" src="{{detailItem.imagePath}}" alt="{{detailItem.name}}" class="img-responsive">
</div>
<div>
    <h1>{{detailItem.name}}</h1>
</div>
<div>
    <div class="btn-group" appDropdown #r="appDropDown">
        <button type="button" class="btn btn-primary dropdown-toggle">
            Manage Recipe
            <span class="caret"></span>
        </button>
        <ul [ngClass]="{'show':r.dropdownOpen}" class="dropdown-menu">
            <li>
                <a href="#">To Shopping List</a>
            </li>
            <li>
                <a href="#">Edit Recipe</a>
            </li>
            <li>
                <a href="#">Delete Recipe</a>
            </li>
        </ul>
    </div>
</div>
<div>
    {{detailItem.description}}
</div>
<div>
    Ingredients
</div>