.dropdown-menu{
    
    li{
        padding: 4px 12px;
        &:hover{
            background-color: #f8f9fa;
        }
    }
    a{
        color: black;
        &:hover{
            text-decoration: none;
        }
    }
}